<h1>The help page!</h1>
<p>Create an account and start writing stories.</p> 
<p>Peruse the user list and find a story you would like to add to. The sky is the limit!</p>
<p>Well, actually, the character limit is 65,535 so that is the actual limit.</p>
