<h1><%= @story.title %></h1>
<textarea readonly class="storytext"><%= @story.body %></textarea>
<p><%= link_to "Add to this story", edit_story_path(@story)%></p>
<p><%= link_to "Edit permissions", edit_story_path(@story)%></p>