@import "bootstrap";

body {
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: #006400;	
background-color: beige;
}

header {

}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 30%;
  margin-bottom: 15px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.storytext {
width: 600px;
height: 300px;
}

.edittext {
width: 600px;
height: 100px;
}